
{% load staticfiles %} 
<html> 
  <head>
    <title> {% block title %} AGA Games Database {% endblock title %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static "lib/jquery-ui/css/redmond/jquery-ui-1.10.3.custom.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/agagd.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/tables.css" %}">
    {% endblock stylesheets %}
    {% block js_includes %}
        <script src={% static "lib/jquery-2.1.0.min.js" %}></script>
        <script src={% static "lib/jquery-ui/js/jquery-ui-1.10.3.custom.min.js" %}></script>
    {% endblock %}
    </head>
  <body> 
    <div id="container">
      <div id="header">
          <h1><a href="{% url "agagd_core.views.index" %}">AGAGD</a></h1> 
          <h3><i><a href="http://www.usgo.org">Back to the AGA homepage</a></i></h3>
          <h3><i><a href="/information/">AGA Ratings Information</a></i></h3>
          {% block header %} {% endblock header %}
      </div>
      <div class="content">
        {% block content %} 
        {% endblock content %} 
      </div>
      <div id="footer">
      <p> The AGAGD is (c) 2019 the American Go Association. </p>
      <p> It is developed and maintained by volunteers.  <a href="http://github.com/usgo/agagd">Find us on github!</a></p>
      </div> 
    </div>
  </body> 
</html>
