{% extends "beta.base.html" %}

{% block content %}
    <section class="container">
        <section class="row player_header">
            <div class="col player_header">
                <h3>{{ player.full_name }} [{{ player_rating['rating']  }}]</h3>

            </div>
        </section>
        <section class="row player_graph">
            {% include "beta.player_graph.html" %}
        </section>

        <section class="row player_details">
            {{ players_information_table.as_html(request) }}
        </section>

        <section class="row player_opponents">
                <div class="col player_opponents_table">
                    <h5 class="table-headers top-opponents-headers">Opponents</h5>
                    {{ player_opponents_table.as_html(request) }}
                </div>
        </section>

        <section class="row player_tournaments">
                <div class="col player_opponents_table">
                    <h5 class="table-headers top-opponents-headers">Tournaments</h5>
                    {{ player_tournaments_table.as_html(request) }}
                </div>
        </section>

        <section class="row player_games">
                <div class="col player_games_table">
                    <h5 class="table-headers">Games</h5>
                    {{ player_games_table.as_html(request) }}
                </div>
        </section>
    </section>
{% endblock %}
