{% extends "beta.base.html" %}

{% block content %}
    <section class="container">
        <section class="row top-players-tables">
            <section class="col-sm-12 col-md-12 col-lg-6 top-dan">
                <h5 class="table-headers top-players-headers">Top Dan</h5>

                <div class="table-headers top-dan-table">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                {% for key, value in top_10_kyu_dan_table_headers.items() %}
                                    <th scope="col">
                                        {{ value }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in top_10_dan %}
                                <tr>
                                    {% for key, value in row.items() %}
                                        {% if key == "pin_player" %}
                                            <td>
                                                <a href="{{ value }}">{{ value|get_members_name_and_id }}</a>
                                            </td>
                                        {% else %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="col-sm-12 col-md-12 col-lg-6 top-kyu">
                <h5 class="table-headers top-players-headers">Top Kyu</h5>

                <div class="top-kyu-table">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                {% for key, value in top_10_kyu_dan_table_headers.items() %}
                                    <th scope="col">
                                        {{ value }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in top_10_kyu %}
                                <tr>
                                    {% for key, value in row.items() %}
                                        {% if key == "pin_player" %}
                                            <td>
                                                <a href="{{ value }}">{{ value|get_members_name_and_id }}</a>
                                            </td>
                                        {% else %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </section>

        <section class="row recent-activity-tables">
            <section class="col col-md-12 col-lg-12 col-xl-12 tournaments">
                <h5 class="table-headers top-players-headers">Tournaments</h5>

                <div class="tournaments-table">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                {% for key, value in latest_tournaments_table_headers.items() %}
                                    <th scope="col">
                                        {{ value }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in latest_tournaments %}
                                <tr>
                                    {% for key, value in row.items() %}
                                        {% if key == "tournament_code" %}
                                            <td>
                                                <a href="{{ url("beta:tournament_detail", args=[value]) }}">
                                                    {{ value }}
                                                </a>
                                            </td>
                                        {% else %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>
            </section>

            <section class="col col-md-12 col-lg-12 col-xl-12 games">
                <h5 class="table-headers top-players-headers">Games</h5>

                <div class="games-table">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                {% for key, value in latest_games_table_headers.items() %}
                                    <th scope="col">
                                        {{ value }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in latest_games %}
                                <tr>
                                    {% for key, value in row.items() %}
                                        {% if key == "pin_player" %}
                                            <td>
                                                <a href="{{ value }}">{{ value|get_members_name_and_id }}</a>
                                            </td>
                                        {% elif key == "tournament_code_id" %}
                                            <td>
                                                <a href="{{ url("beta:tournament_detail", args=[value]) }}">
                                                    {{ value }}
                                                </a>
                                            </td>
                                        {% else %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
