{% extends "base.html" %}

{% block content %}
    <section id="list-all-tournaments-block" class="container">
        <section class="row">
            <section class="col">
                <h5 class="table-headers tournament-name-header">{{ tournament_information.tournament_code }}</h5>

                <table class="table">
                    <tbody>
                        {% for key, value in tournament_information.items() %}
                        <tr>
                            <th class="table-dark" scope="row">
                            {% if key in tournament_table_headers %}
                                {{ tournament_table_headers[key] }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                            </th>
                            <td class="table-bordered">{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </section>
        <section class="row">
            <section class="col-sm-12 col-md-12 col-lg-12">
                <h5 class="table-headers list-all-tournament-players-table-header">Games</h5>

                <div class="list-all-tournament-players-table">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                {% for key, value in tournament_game_table_headers.items() %}
                                        <th scope="col">
                                            {{ value }}
                                        </th>
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in tournament_games %}
                                <tr>
                                {% for key, value in row.items() %}

                                    {% if key == "pin_player_1" or key == "pin_player_2" %}
                                        <td>
                                            <a href="/players/{{ value }}">{{ value|get_members_name_and_id }}</a>
                                        </td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Table Page Navigation">
                        {% with table=tournament_games %}
                            {% include "beta.table_pagination.html" %}
                        {% endwith %}
                    </nav>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
