
{% extends "base.html" %} 
{% load staticfiles %} 
{% load render_table from django_tables2 %}

{% block title %} Chapter Detail for ...  {% endblock %} 
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}
{% block content %} 
{{ block.super }} 

  {% if chapter.name %}
  <h2> Chapter: {{ chapter.name }} - {{ chapter.code }} </h2>
  {% else %}
  <h2> Chapter: {{ chapter.code }} </h2> 
  {% endif %}
<dl>
  <dt> City: </dt> <dd> {{ chapter.meeting_city }} </dd>

  {% if chapter.contact_text %}
      <dt> Contact Info: </dt> <dd> {{ chapter.contact_text }} </dd>
  {% elif chapter.contact %}
      <dt> Contact Info: </dt> <dd> {{ chapter.contact}} </dd>
  {% else %}
      <dt> Contact Info: </dt> <dd> (No contact information) </dd>
  {% endif %}

  {% if chapter.meeting_text %}
      <dt> Meets at: </dt> <dd> {{ chapter.meeting_text  }} </dd>
  {% endif %}

  {% if chapter.url %}
      <dt> Website: </dt> <dd> <a href="{{chapter.url}}">{{ chapter.url }}</a> </dd>
  {% endif %}
</dl>

<h3> Members </h3> 
  {% render_table member_table %}

{% endblock %}
