
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %} Members by Country {{ country_name }} {% endblock %}
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}

{% block header_title %}
    <div class="header-col header-title">
        <h2>
            <a href="{% url "index" %}">AGAGD</a>
        </h2>

        <h2> Country: {{ country_name }} </h2>
    </div>
{% endblock header_title %}

{% block content %}
{{ block.super }}
<h3> Members </h3>
  {% render_table member_table %}

{% endblock %}
