
<div id="game_count_graph">
</div>
<script src="https://d3js.org/d3.v3.js"></script>
<script>

var margin = {top: 20, right: 50, bottom: 30, left: 50},
    width = 950 - margin.left - margin.right,
    height = 350 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y-%m-%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var y2 = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var yAxis2 = d3.svg.axis()
    .scale(y2)
    .orient("right");

var line = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.count); });

var accline = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y2(d.total); });

var svg = d3.select("#game_count_graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.json("{% url "game_stats" %}", function(error, data) {
  var acc = 0;
  data.forEach(function(d) {
    d.date = parseDate(d.date);
    d.count = d.count;
    d.total = d.count + acc;
    acc += d.count;
  });

  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain(d3.extent(data, function(d) { return d.count; }));
  y2.domain(d3.extent(data, function(d) { return d.total; }));

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("# of Games");

  svg.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(" + width + ")")
      .call(yAxis2)
    .append("text")
      .attr("transform", " rotate(-90)")
      .attr("x", -85)
      .attr("y", -16)
      .attr("dy", ".71em")
      .style("text-anchor", "start")
      .text("Total # of Games");

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .style("stroke", "darkblue")
      .attr("d", accline);
});

</script>
