{% extends "base.html" %} 
{% load staticfiles %} 
{% block title %} Games Found in System {% endblock %} 
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}
{% block content %} 
{{ block.super }} 
<h2>Game list</h2> 

  {% if game_list %}
      <ul>
      {% for game in game_list %}
          <li>{{ game.tournament_code }} - {{ game.game_date }} : {{ game.pin_player_1 }} vs {{ game.pin_player_2 }}</li>
          <li> {{ game }} </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No games are available.</p>
  {% endif %}
{% endblock %}
