{% extends "base.beta.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    {{ block.super }}
    <section class="container">
        <section class="row top-players-tables">
            <section class="col top-dan">
                <div class="top-dan-table">
                {% render_table top_dan_table %}
                </div>
            </section>

            <section class="col top-kyu">
                <div class="top-kyu-table">
                {% render_table top_kyu_table %}
                </div>
            </section>
        </section>

        <section class="row recent-activity-tables">
            <section class="col tournaments">
                <div class="tournaments-table">
                {% render_table tournaments %}
                </div>
            </section>

            <section class="col games">
                <div class="games-table">
                {% render_table table %}
                </div>
            </section>
        </section>
    </section>
{% endblock %}
