{% extends "base.beta.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    {{ block.super }}
    <section class="top-players-tables">
        <section class="top-dan">
            <div class="top-dan-table">
            {% render_table top_dan_table %}
            </div>
        </section>

        <section class="top-kyu">
            <div class="top-kyu-table">
            {% render_table top_kyu_table %}
            </div>
        </section>
    </section>

    <section class="recent-activity-tables">
        <section class="tournaments">
            <div class="tournaments-table">
            {% render_table tournaments %}
            </div>
        </section>

        <section class="games">
            <div class="games-table">
            {% render_table table %}
            </div>
        </section>
    </section>
{% endblock %}
