
{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block title %} Player card for {{player.full_name}} {% endblock %}
{% block stylesheets %} {{ block.super }} {% endblock %}

{% block header_title %}
    <div class="header-col header-title">
        <h2>
            <a href="{% url "index" %}">AGAGD</a>
        </h2>

        <h2>Player card for <b>{{player.full_name}}</b>, ID #{{player.member_id}}.</h2>
    </div>
{% endblock header_title %}

{% block header %}
{% endblock %}

{% block content %}
{{ block.super }} 

<div class="clearboth"></div>

<div class="member_content_wrapper">
    <div class="left-column member_information">
        <dl>
            <dt style="font-size: 24px"> Rating: </dt>
            <dd style="font-size: 24px"> {{ rating.rating }} </dd>
            <dt> Chapter: </dt>
            <dd>
              {% if chapter %}
                {% comment %}
                  We have to use "chapter.pk" instead of the more mnemonic "chapter.member_id" here, because member_id is both a primary key *and* a foreign key.
                  This confuses the Django ORM into always resolving "chapter.member_id" into an object looked up from the Members table. Explicitly using the "pk"
                  pseudo-field works around this limitation.
                {% endcomment %}
                <a href="{% url 'chapter_detail' chapter.pk %}"> {{ chapter.name }} </a>
              {% else %}
                None
              {% endif %}
            </dd>
            <dt> AGA member since: </dt>
            <dd> {{ player.join_date }} </dd>
            <dt> Expiration Date: </dt>
            <dd> {{ player.renewal_due }} </dd>
            <dt> Membership type: </dt>
            <dd> {{ player.type }} </dd>
            <dt> Highest Rating: </dt>
            <dd> {{ max_rating }} </dd>
            <dt> Sigma: </dt>
            <dd> {{ rating.sigma }} </dd>
            <dt> Last Rated At: </dt>
            <dd> {{ rating.elab_date }} </dd>
            <dt> Last Tournament: </dt>
            <dd> {{ rating.tournament }} </dd>
        </dl>
    </div>

    <div class="left-column member_rating_graph">
    {% include "agagd_core/ratings_graph.html" %}
    </div>
</div>

<div style="clear: both;"></div>

<form method="post" action="{% url "find_member_vs" player.member_id %}">
    {% csrf_token %}
    <p> Find matchups of {{player.full_name}} against AGA ID# <input name="opponent_id" type="text"/>
</form>
<p> {{ player.full_name }} has {{num_games}} games in the AGAGD:</p>
  {% if table %}
  <p>
      {% render_table table %}
      </p>
  {% else %}
      <p>No games are available.</p>
  {% endif %}

  {% if opponents %}
  <p> {% render_table opponents %} </p>
  {% else %}
      <p>No opponent breakdown available.</p>
  {% endif %}

  {% if tourneys %}
  <p> {% render_table tourneys %} </p>
  {% else %}
      <p>No tournament breakdown available.</p>
  {% endif %}

{% endblock %}
