
{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block title %} Player card for {{player.full_name}} {% endblock %}
{% block stylesheets %} {{ block.super }} {% endblock %}
{% block header %}
{% endblock %}

{% block content %}
{{ block.super }} 
<h2> Player card for <b>{{player.full_name}}</b>, ID #{{player.member_id}}.</h2>
{% include "agagd_core/ratings_graph.html" %}
<ps> AGA member since: {{ player.join_date }} </ps>
<ps>Expiration Date: {{ player.renewal_due }} </ps>
<ps>Membership type: {{ player.type }} </ps>
<dl>
  <dt style="font-size: 24px"> Rating: </dt> <dd style="font-size: 24px"> {{ rating.rating }} </dd> 
  <dt> Sigma: </dt> <dd> {{ rating.sigma }} </dd>
  <dt> Last Rated At: </dt> <dd> {{ rating.elab_date }} </dd>
  <dt> Last Tournament: </dt> <dd> {{ rating.tournament }} </dd>
  <dt> Highest Rating: </dt> <dd> {{ max_rating }} </dd>
</dl>
<div style="clear: both;"></div>
<form method="post" action="{% url "find_member_vs" player.member_id %}">
    {% csrf_token %}
    <p> Find matchups of {{player.full_name}} against AGA ID# <input name="opponent_id" type="text"/>
</form>
<p> {{ player.full_name }} has {{num_games}} games in the AGAGD:</p>
  {% if table %}
  <p>
      {% render_table table %}
      </p>
  {% else %}
      <p>No games are available.</p>
  {% endif %}

  {% if opponents %}
  <p> {% render_table opponents %} </p>
  {% else %}
      <p>No opponent breakdown available.</p>
  {% endif %}

  {% if tourneys %}
  <p> {% render_table tourneys %} </p>
  {% else %}
      <p>No tournament breakdown available.</p>
  {% endif %}

{% endblock %}
