
{% extends "base.html" %} 
{% load staticfiles %} 
{% load render_table from django_tables2 %}

{% block title %} Game List for ...  {% endblock %} 
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}
{% block content %} 
{{ block.super }} 
<h2>{{player.full_name}}, ID #{{player.member_id}}, joined {{ player.join_date }}</h2> 

<p> Find matchups of {{player.full_name}} against AGA ID# ________
<p> {{ player.full_name }} has {{num_games}} games in the AGAGD:</p> 
<dl>
  <dt> Rating: </dt> <dd> {{ rating.rating }} </dd>
  <dt> Sigma: </dt> <dd> {{ rating.sigma }} </dd>
  <dt> Last Rated at: </dt> <dd> {{ rating.elab_date }} </dd>
  <dt> Last tournament: </dt> <dd> {{ rating.tournament }} </dd>
  <dt> HighestRating: </dt> <dd> {{ max_rating }} </dd>
</dl>
  {% if table %}
      {% render_table table %}
  {% else %}
      <p>No games are available.</p>
  {% endif %}
{% endblock %}
