
<div id="ratings_graph">
</div>
<script src="https://d3js.org/d3.v3.js"></script>
<script>

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 660 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y-%m-%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .tickFormat(function(d) {
       if (d > 1) return d;
       else if (d < 1) return d-2;
       else return "+/-1";
    })
    .orient("left");

var line = d3.svg.line()
    .x(function(d) { return x(d.elab_date); })
    .y(function(d) { return y(d.rating); });

var lowband = d3.svg.line()
    .x(function(d) { return x(d.elab_date); })
    .y(function(d) { return y(d.rating-d.sigma); });

var hiband = d3.svg.line()
    .x(function(d) { return x(d.elab_date); })
    .y(function(d) { return y(d.rating+d.sigma); });

var band = d3.svg.area()
    .x(function(d) { return x(d.elab_date); })
    .y0(function(d) { return y(d.rating-d.sigma); })
    .y1(function(d) { return y(d.rating+d.sigma); });

var svg = d3.select("#ratings_graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.json("{% url "agagd_core.views.member_ratings" player.member_id %}", function(error, data) {
  data.forEach(function(d) {
    d.elab_date = parseDate(d.elab_date);
    if (d.rating < 1) d.rating = d.rating + 2;
  });

  x.domain(d3.extent(data, function(d) { return d.elab_date; }));
  y.domain([
    d3.min(data, function(d) { return d.rating-d.sigma; }),
    d3.max(data, function(d) { return d.rating+d.sigma; })
  ]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Rating");

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

  svg.append("path")
      .datum(data)
      .attr("class", "sigmoid")
      .attr("d", hiband);

  svg.append("path")
      .datum(data)
      .attr("class", "sigmoid")
      .attr("d", lowband);

  svg.append("path")
      .datum(data)
      .attr("class", "sigmoid-bg")
      .attr("d", band);
});

</script>
