
{% extends "base.html" %} 
{% load render_table from django_tables2 %}
{% block title %} Find Players {% endblock %} 
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}

{% block header_title %}
    <div class="header-col header-title">
        <div class="header-title">
            <h2>
                <a href="{% url "index" %}">AGAGD</a>
            </h2>
        </div>

        <div class="header-title">
            <h2>Search Results for {{ query }}</h2>
        </div>
    </div>
{% endblock header_title %}

{% block header %}
    <div class="responsive-row">
        <div class="header-col">
   
            {% include "agagd_core/fetch_player_form.html" %}
        </div>
    </div>

    <hr class="clearboth" />
{% endblock header %}

{% block content %} 
{{ block.super }} 

  {% if member_table %}
    {% render_table member_table %}
  {% else %}
    <p> No members found. Please try another member search to locate a member by there name or member id.</p>
  {% endif %}
{% endblock %}
