
{% extends "base.html" %} 
{% load staticfiles %} 
{% load render_table from django_tables2 %}

{% block title %} Tournament Detail for ...  {% endblock %} 
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}
{% block content %} 
{{ block.super }} 

  {% if tournament.description %}
  <h2> Tournament: {{ tournament.description }} </h2>
  {% else %}
  <h2> Tournament: {{ tournament.tournament_code }} </h2> 
  {% endif %}
  <p> Held {{ tournament.tournament_date }}, there were {{ tournament.total_players }} players in {{ tournament.rounds }} rounds </p>
<h3> Recreated Wall List </h3>
  <pre> {{ tournament.wall_list }} </pre>

<h3> Games </h3> 
  {% render_table game_table2 %}

{% endblock %}
