{% extends "base.html" %} 
{% load render_table from django_tables2 %}
{% block content %} 
    <p>
        <form method="get" action="{% url "tourney_list" %}">
            <input type="text" name="details" placeholder="Description or location" value="{{ details }}"/>
            <input class="tournament_date" type="text" name="from_date" placeholder="From date" value="{{ from_date }}"/>
            <input class="tournament_date" type="text" name="to_date" placeholder="To date" value="{{ to_date }}"/>
            <input type="submit" value="Search"/>
        </form>
    </p>
    <script>
    $(function(){
        $(".tournament_date").datepicker();
    });
    </script>
    {% render_table tournament_table %}
{% endblock %}
