/* Eric Meyer CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, ps, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    }

/*ul, li {
    list-style:none;
}*/

caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

/* End CSS Reset! */

* {
    line-height: 120%;
}

#header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    float:right;
}

#container
{
    padding-top: 1.5em;
    margin: auto;
    max-width: 80%;
}

#footer {
    margin-top: 5px;
    margin-bottom: 10px;
}

#footer p {
    line-height: 100%;
    font-size: 80%;
    font-style: italic;
}

h1 {
    font-size: 36px;
    margin-bottom: 0.5em;
    font-weight:bold;
}

h2 {
    font-size: 30px;
    margin-bottom: 0.8em;
    margin-top:1em;
    line-height:1.25em;
}

body {
    font-family: Book Antiqua, Palatino Linotype, Palatino, Serif;
}

pre {
    font-family: Courier, monospace;
    font-size: 80%;
    margin: 1em;
}

blockquote {
  padding: 0 0 0 2.2em;
  margin: 2em 0;
  font-style: italic;
  background-position-y: 10px;
}

p {
    font-size:20px;
    margin-bottom:0.7em;
    text-align:justify;
    line-height:1.5em;
}

ps {
    font-size:15px;
    margin-bottom:0.7em;
    text-align:justify;
    line-height:1.5em;
}

ul {
    margin-left:1.5em;
}

ol {
    margin-left:1em;
}


dt {
  /* padding-left: 20px; */
  font-variant: small-caps;
  font-weight: bold;
}
dd {
  padding-left: 40px;   
  color: #666666;
}

li {
    font-weight:lighter;
    font-size:20px;
    margin-bottom:0.8em;
    text-align:justify;
}

a:link {
    text-decoration: none;
    color: #205E9B;
}

a:visited {
    text-decoration: none;
    color: #205E9B;
}

a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

.nav-link {
    text-align: right;
    font-style: italic;
}

/*#ratings_graph {
    float: right;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis text, .y.axis text {
    font-size: 70%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.sigmoid {
    fill: none;
    stroke: grey;
    stroke-width:1px;
}

.sigmoid-bg {
    fill: blue;
    stroke: none;
    fill-opacity: .1;
}

div.ui-datepicker{
 font-size:10px;
}

.left-column {
    float: left;
}

.flex-row {
    display: flex
}

.flex-column {
    margin: 1em;
    flex: 50%;
}

.clearboth {
     clear: both
}
