{% extends "base.html" %} 
{% load staticfiles %} 
{% block title %}  404 Resource Not Found{% endblock %} 
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}
{% block content %} 
{{ block.super }} 

  <h1> Ratings Information</h1>

  <p> The AGA Rating System, unlike some other systems, does not merely tally results and award or remove fixed numbers of points from the player's total. Based on advanced statistical procedures, it looks at results of many events simultaneously, using the results to figure out how likely each player was to defeat the other. Players are ranked and ordered according to these calculations.</p>
  <p>The AGA rates serious games, mainly from face-to-face tournament and club play. The basic qualifications for rated games are probably easier to meet than you might think,and the AGA encourages you to submit your game results. <a href="/qualifications.html">Learn how to submit game results to the rating system.</a>

<h2>Additional Information</h2>
<ul>
	<li>A <a href="https://www.usgo.org/files/pdf/AGARatings-Simple.pdf">brief description</a> of how the system works (July 1990)</li>
	<li>Answers to the <a href="https://www.usgo.org/files/pdf/ratingquestions.pdf">most commonly asked questions about the rating system</a> (May 1992)</li>
	<li>A more detailed <a href="https://www.usgo.org/files/pdf/AGARatings-Math.pdf">mathematical description</a> of the ratings system (April 2010)</li>
	<li><a href="https://www.usgo.org/files/pdf/bayrate.zip">Source code</a> for the AGA rating algorithm</li>
</ul>

{% endblock %}